<h1>All questions</h1>

<% @questions.each_with_index do |question, i| %>
<div class="page-header">
    <span><%= (i+1) %>.</span> <%=question.userquestion %>
    <%= link_to 'Show', question %>
    <%= link_to 'Edit', edit_question_path(question) %>
    <%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %>
    
    
  </div>
<% end %>
<%= will_paginate @posts %>



<%= link_to 'New Question', new_question_path %>
