<h1>Listing questions</h1>



<% @questions.each do |question| %>
<div class="page-header">
    <%= question.userquestion %>
    <%= link_to 'Show', question %>
    <%= link_to 'Edit', edit_question_path(question) %>
    <%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %>
    
    
  </div>
<% end %>



<%= link_to 'New Question', new_question_path %>
